.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .box {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color: #56CC9D;
  }
  
  .topnav-right {
    float: right;
  }

@media (max-width: 767.98px) {
    .bg-primary {
      background-color: #F3969A !important;
      
    }
    
  }


  